{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th class="col">Naam</th>
            <th class="col">Geboortedatum</th>
            <th class="col">Adres</th>
            <th class="col">Postcode</th>
            <th class="col">Stad</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.dateofbirth|date('d-m-Y') }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.zipcode }}</td>
                <td>{{ employee.city }}</td>
                <td><a href="{{ path('delete', {id:employee.id}) }}"><button class="btn btn-danger ">verwijderen</button></a> </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>



    <a href="{{ path('insert') }}">sadsasdadsa</a>


{% endblock %}
